---
import Layout from "../layouts/Layout.astro";
import Startup from "../components/Startup.vue";
---

<Layout title="Portfolio | Chad Gauthier">
	<main>
		<Startup client:only="vue"/>
	</main>
</Layout>
<style scoped>
main {
	background-color: black;
	min-width: 100vw;
	min-height: 100vh;
}
</style>
