---
import Layout from "../layouts/Layout.astro";
import Desktop from "../components/Desktop.vue";
---

<Layout title="Portfolio | Chad Gauthier">
	<main>
		<Desktop client:only/>
	</main>
</Layout>

<style scoped>
	body {
		overflow-y: hidden;
	}
	main {
		display: flex;
		justify-content: center;			
		align-content: center;
		height: 100vh;
	}
</style>
