---
import Header from "../components/Showcase.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio | Chad Gauthier">
    <main>
        <Header client:only/>
    </main>
</Layout>

<style scoped>

</style>
