---
	import "../styles/global.css";
	import Navbar from "../components/layout/Navbar";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/public/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Chad Gauthier | Portfolio</title>
	</head>
	<body>
		<Navbar />
		<div class="p-2">
          <slot />
		</div>

	</body>
</html>