---
	import "../styles/global.css";
	import Navbar from "../components/layout/Navbar";

	const locale = Astro.preferredLocale ?? 'en';
---
<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/public/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Chad Gauthier | Portfolio</title>
	    <link rel="sitemap" href="/sitemap-index.xml">
	</head>
	<body>
		<div class="p-2">
          <slot />
		</div>
	</body>
</html>